.btn--yellow {
    background-color: var(--color-yellows-yellow);
}

.btn--yellow-light {
    background-color: var(--color-yellows-light-yellow);
}

.btn--white {
    background-color: var(--color-greys-white);
}