@mixin text-base {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

@mixin text-title {
  @include text-base;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.5;
}

@mixin text-headline {
  @include text-base;
  font-weight: 600;
  font-size: 3.1rem;
  line-height: 1.5;
}

@mixin text-default {
  @include text-base;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.5;
}

@mixin text-small {
  @include text-base;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.5;
}