:root {
  /* GREYS */
  --color-greys-black: rgba(0,0,0,1);
  --color-greys-light-grey: rgba(229,229,229,1);
  --color-greys-regular-grey: rgba(204,204,204,1);
  --color-greys-medium-grey: rgba(167,167,167,1);
  --color-greys-white: rgba(255,255,255,1);

  /* YELLOWS */
  --color-yellows-yellow: rgba(252,163,17,1);
  --color-yellows-light-yellow: rgba(255,187,75,1);
  --color-yellows-yellow-to-red-gradient: linear-gradient(117.77deg, #FCA311 -0.06%, #FF3E3E 90.78%);

  /* OTHERS */
  --color-others-blue: rgba(20,33,61,1);
  --color-others-red: rgba(255,62,62,1);
}