:root {
  /* GREYS */
  --color-greys-grey: #e5e5e5;
  --color-greys-black: #000000;
  --color-greys-placeholder-text-color: #cccccc;
  --color-greys-regular-grey: #a7a7a7;
  --color-greys-stroke-div: #e5e5e5;
  --color-greys-white: #ffffff;

  /* YELLOWS */
  --color-yellows-yellow: #fca311;
  --color-yellows-yellow-hover: #ffbb4b;
  --color-yellows-bg-gradient: linear-gradient(117.77deg, #FCA311 -0.06%, #FF3E3E 90.78%);

  /* OTHERS */
  --color-others-blue: #14213d;
  --color-others-red: #ff3e3e;
}